
<html>
	<head>
		<title>C.V.</title>
	</head>
	
	<body>
        <h1>Name: firas Abu Sneneh</h1>
        <img src="\static\profile-pic.jpg" alt="My Profile Pic" width="200" height="150">
        <h1> Hobbies</h1>
        <p> i wish to be able to open my own company <p></p>
            i wish to be able to swim :D <p></p>
        </p>
        <h1> Skills </h1>
        <p>a team player <p></p>
           Highly motivated <p></p>   
           Excellent interpersonal skills<p></p>
        </p>
        <h1>Strength</h1>
        <p> i always love what i work to make it perfect</p>
        <h1>Weaknesse</h1>
        <p>love to smoke alot </p>




</body>
</html>